body {
    background-color: rgb(45, 55, 60);
}

h1 {
    color: rgb(80, 220, 220);
}

h2 {
    color: rgb(70, 210, 210);
}

p {
    color: rgb(60, 185, 160);
}

nav ul {
    background-color: rgb(40, 40, 40);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav a {
    color: rgb(100, 200, 200);

}

nav a:hover {
    color: rgb(100, 200, 200);
    transform: scale(1.5);
}

a:visited {
    color: rgb(85, 85, 220);
}

section a {
    color: rgb(100, 200, 200);
    text-decoration: none;


} 

section a:hover {
    color: rgb(100, 200, 200);
    transform: scale(1.5);
}

section a:active {
    color: rgb(200, 255, 255);
}

nav li {
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    float: left;
    list-style: none;
}

.header :hover {
    background-color: black;
}

.sub {
    font-size: small;
    color: rgb(60, 185, 160);
    text-align: right;
}

.socials {
    background-color: rgb(50, 50, 50);
    text-align: center;
}

.socialLinks {
    text-align: center;
    margin: 0px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.socialLinks:hover {
    background-color: black;
    transform: scale(1.05);
    transition: 0.15s;
}